@tailwind base;
@tailwind components;
@tailwind utilities;

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
@variants responsive {
/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
}
.scrollbar-icon {
direction: rtl;
overflow:auto;
}
.scrollbar-icon::-webkit-scrollbar {
width: 4px;
}
.scrollbar-icon::-webkit-scrollbar-thumb {
background-color: orangered;
border-radius: 8px;


}
.scrollbar-icon::-webkit-scrollbar-track {
background-color: white;
}
.s-1 {
direction:ltr;
margin-left: 40px;
}